<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/rocco-scaramuzzi/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="rocco-scaramuzzi" value="rocco-scaramuzzi" />
      <add key="ClearTextPassword" value="a957c50455c3fb5228f48f483a4d91cfb839c4a2" />
    </github>
  </packageSourceCredentials>
</configuration>